body {
  position: relative;
  margin: 0;
}

.Map {
  height: 100%;
  width: 100%;
}

.dropPin {
  height: 69px;
  width: 82px;
  position: absolute;
  transform: translateY(-100%) translateX(-25%);
}
.blurbNote {
  position: absolute;
  height: 100px;
  width: 300px;
}
.readOnlyNote {
  position: absolute;
  height: 100px;
  width: 300px;
}
